* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.header{
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    font-size: 25px;
}

/* style cho thẻ a */
.header a{
    text-decoration: none; /* bỏ gạch chân */
    color: #60a5fa;
    transition: color 0.3s ease;
     text-shadow: 0 0 8px rgba(96,165,250,0.35);
}




/* Background */
/* body {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55));
  overflow: hidden;
} */

/* Form wrapper */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Login box */
#login-form {
  width: 380px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(6px);
}

/* Title */
#form-title {
  color: #fff;
  margin-bottom: 25px;
  font-size: 32px;
  z-index: 1;
}

/* Input group */
.input-group {
  margin-bottom: 15px;
}

/* Inputs */
.input-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Button */
button {
  width: 60%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e5e7eb;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

/* Text dưới button */
.text-center {
  margin-top: 18px;
  color: #d1d5db;
  font-size: 14px;
}

.text-center a {
  color: #fff;
  text-decoration: underline;
  margin-left: 4px;
}

.text-center a:hover {
  color: #66b3ff;
}

/* Background canvas Vanta */
canvas {
  position: fixed !important;
  inset: 0;
  z-index: -1;
}